# 1. Загрузка данных

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import datetime
import seaborn as sn

In [2]:
train = pd.read_csv('Data/train.csv', low_memory=False)
train.index.name = 'Index'
test = pd.read_csv('Data/test.csv', low_memory=False)
test.index.name = 'Index'

In [3]:
rawData = pd.concat([train, test], sort=False)

In [4]:
categoricalFeatures = ["hour","weekday","month","year","season","weather","holiday","workingday"]
numericalFeatures = ["atemp", "humidity", "windspeed", "count"]
featuresToBeDropped = ["temp", "registered", "casual", "datetime", "count"]

In [5]:
#Create year, month, day, time columns
rawData['year'] = pd.to_datetime(rawData['datetime']).apply(lambda x : x.year)
rawData['month'] = pd.to_datetime(rawData['datetime']).apply(lambda x : x.month)
rawData['weekday'] = pd.to_datetime(rawData['datetime']).apply(lambda x : x.isoweekday())
rawData['hour'] = pd.to_datetime(rawData['datetime']).apply(lambda x : x.hour)

In [6]:
for var in categoricalFeatures:
    rawData[var] = rawData[var].astype("category")

In [7]:
dataTrain = rawData[pd.notnull(rawData['count'])].sort_values(by=["datetime"])
dataTest = rawData[~pd.notnull(rawData['count'])].sort_values(by=["datetime"])
datetimecol = dataTest["datetime"]
yLabels = dataTrain["count"]

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_validate, y_train, y_validate = train_test_split( dataTrain, yLabels, test_size=0.3, random_state=42)
dateTimeColValidate = X_validate["datetime"]

In [9]:
X_train.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,weekday,hour
Index,,,,,,,,,,,,,,,,
613,2011-02-08 17:00:00,1,0,1,1,9.02,9.090,32,39.0007,4.0,172.0,176.0,2011,2,2,17
4030,2011-09-18 23:00:00,3,0,0,1,22.14,25.760,68,12.9980,10.0,44.0,54.0,2011,9,7,23
3582,2011-08-19 04:00:00,3,0,1,1,26.24,28.790,83,0.0000,1.0,7.0,8.0,2011,8,5,4
10101,2012-11-06 06:00:00,4,0,1,1,9.02,11.365,69,8.9981,6.0,143.0,149.0,2012,11,2,6
1430,2011-04-05 11:00:00,2,0,1,3,13.12,14.395,81,30.0026,1.0,18.0,19.0,2011,4,2,11

In [10]:
dataTrain  = dataTrain.drop(featuresToBeDropped,axis=1)
dataTest  = dataTest.drop(featuresToBeDropped,axis=1)
X_train = X_train.drop(featuresToBeDropped,axis=1)
X_validate = X_validate.drop(featuresToBeDropped,axis=1)

In [24]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
rfModel = RandomForestRegressor(n_estimators=100) ### Test 0.44
rfModel.fit(X = X_train,y = np.log1p(y_train))
preds = rfModel.predict(X= X_validate)
print ("RMSLE Value For Random Forest: ",rmsle(np.exp(np.log1p(y_validate)),np.exp(preds),False))

RMSLE Value For Random Forest:  0.2842968627886013

In [26]:
preds = rfModel.predict(X= dataTest)

In [27]:
submission = pd.DataFrame({
        "datetime": datetimecol,
        "count": [max(0, x) for x in np.exp(preds)]
    })
submission.to_csv('bike_prediction_output.csv', index=False)

In [28]:
submission

                  datetime       count
Index
0      2011-01-20 00:00:00   12.484257
1      2011-01-20 01:00:00    5.853460
2      2011-01-20 02:00:00    3.902586
3      2011-01-20 03:00:00    3.912879
4      2011-01-20 04:00:00    3.202039
5      2011-01-20 05:00:00    5.953628
6      2011-01-20 06:00:00   35.056023
7      2011-01-20 07:00:00   89.054224
8      2011-01-20 08:00:00  209.645549
9      2011-01-20 09:00:00  124.986217
10     2011-01-20 10:00:00   54.514654
11     2011-01-20 11:00:00   59.477844
12     2011-01-20 12:00:00   79.529293
13     2011-01-20 13:00:00   73.822408
14     2011-01-20 14:00:00   77.086391
15     2011-01-20 15:00:00   81.816035
16     2011-01-20 16:00:00   92.939287
17     2011-01-20 17:00:00  176.365036
18     2011-01-20 18:00:00  168.174122
19     2011-01-20 19:00:00   98.077081
20     2011-01-20 20:00:00   70.921802
21     2011-01-20 21:00:00   46.174335
22     2011-01-20 22:00:00   42.190994
23     2011-01-20 23:00:00   21.883851
24     2011-01-21 00:00:00   14.596081
25     2011-01-21 01:00:00    6.989602
26     2011-01-21 02:00:00    4.938454
27     2011-01-21 03:00:00    3.340346
28     2011-01-21 04:00:00    2.838968
29     2011-01-21 05:00:00    3.599618
...                    ...         ...
6463   2012-12-30 18:00:00  198.673762
6464   2012-12-30 19:00:00  197.951823
6465   2012-12-30 20:00:00  113.118830
6466   2012-12-30 21:00:00   77.283169
6467   2012-12-30 22:00:00   65.198391
6468   2012-12-30 23:00:00   52.711253
6469   2012-12-31 00:00:00   21.256143
6470   2012-12-31 01:00:00   12.390081
6471   2012-12-31 02:00:00    7.463805
6472   2012-12-31 03:00:00    6.690452
6473   2012-12-31 04:00:00    6.601330
6474   2012-12-31 05:00:00   24.810129
6475   2012-12-31 06:00:00  122.616364
6476   2012-12-31 07:00:00  309.879541
6477   2012-12-31 08:00:00  512.458638
6478   2012-12-31 09:00:00  254.649666
6479   2012-12-31 10:00:00  146.974839
6480   2012-12-31 11:00:00  146.092443
6481   2012-12-31 12:00:00  159.941328
6482   2012-12-31 13:00:00  163.427363
6483   2012-12-31 14:00:00  163.140892
6484   2012-12-31 15:00:00  167.386921
6485   2012-12-31 16:00:00  269.698030
6486   2012-12-31 17:00:00  392.751017
6487   2012-12-31 18:00:00  394.006624
6488   2012-12-31 19:00:00  294.254714
6489   2012-12-31 20:00:00  212.075163
6490   2012-12-31 21:00:00  142.062146
6491   2012-12-31 22:00:00  104.190881
6492   2012-12-31 23:00:00   59.613855

[6493 rows x 2 columns]